@model EventViewModel
@{
    ViewData["Title"] = "Event";
}
@section AddToHead
    {
    <script type="module" src="/js/sharedMap.js"></script>


}


<body style="background-color: #15202b">
    <br />
    <div class="container">
        <div class="row">

            <div class="col">

            
            </div>
            <div class="col">

                <div class="text-center">
                    <h1 id="EventName">@Model.EventName</h1>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">

            <div class="col">

            
            </div>
            <div class="col">

                <div class="text-center">
                    <h2 id="hosted" style="color:white ">Hosted by</h2>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">

            <div class="col">

            
            </div>
            <div class="col">

                <div class="text-center">
                    <h3 id="OrganizationName">This will be the Organization Name@*@Model.OrganizationName*@</h3>
                </div>
            </div>
            <div class="col"></div>
        </div>
    
        <div class="row">
            <div class="col-8">
                <h2 id="eventDescriptionTitle">Description:</h2></div>
            <div class="col"> <h2 id="eventLocationTitle">Location:</h2></div>
        </div>
        <div class="row">
            <div class="col-8">
                <h2 id="eventDescription">@Model.EventDescription </h2></div>
            <div class="col"><h2 id="eventLocation" value="@Model.EventLocation" onclick="unhideMap()">@Model.EventLocation</h2></div>
        </div>
    
        <div class="row">
            <div class="col">

                <div id="sharedMap" style="display: none"></div>
            </div>
        </div>
    
            <br />


        <div class="row">

            <div class="col">
                <h2 id="eventDateTitle" >Date:</h2></div>
            <div class="col"></div>
            <div class="col">
                <h2 id="eventTypeTitle">Type of Event:</h2></div>
        </div>

        <div class="row">

            <div class="col">
                <h2 id="EventDate">@Model.EventDate</h2></div>
            <div class="col"></div>
        
            <div class="col"><h2 id="EventType">@Model.EventsTypes.ElementAt(Model.EventTypeId - 1).EventType1</h2></div>
        </div>

    
    </div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfIlowOJLOtRJduvUraHSk8WOJjUkB3Eo&callback=initMap&libraries=places&v=weekly"
        defer></script>
<script src="~/js/sharedMap.js" asp-append-version="true"></script>        