@using Microsoft.AspNetCore.Identity
@using OtterProductions_CapstoneProject.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*Used https://www.youtube.com/watch?v=YesSVqjcDts for reference for the nav bar*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OtterProductions_CapstoneProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OtterProductions_CapstoneProject.styles.css" asp-append-version="true" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
</head>
<body style="background-color: #15202b">
    <div class="wrapper">
        <div id="navMenu" class="navMenu">
            <ul id="navBarText">
                <li>
                    <a class="nav-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/Images/logo.png" alt="LOGO" style="width: 100px; height: 70px;" /></a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Map" asp-action="Mappage">Map</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="BrowsingSearch">Local Events</a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {

                    <li class="nav-item">
                        @*CHANGE LINK to profile page link*@
                        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="EditInfo">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="EditInfo">Edit Profile</a>
                    </li>
                    @*This is for organization, not average user
                        <li class="nav-item">
                        @{
                            IList<ApplicationUser> usersInRole = await UserManager.GetUsersInRoleAsync("User");
                            string userID = UserManager.GetUserId(User);

                            bool isUserFound = false;

                            foreach (var u in usersInRole)
                            {
                                if (u.Id == userID)
                                {
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="UserPage">Profile</a>
                                    isUserFound = true;
                                    break;
                                }
                            }

                            if (!isUserFound)
                            {
                                var name = User.Identity.Name;
                                @Html.ActionLink("Profile", "OrganizationDetails", "Organization", new { id = name }, new { @title = "View Profile", @class="nav-link btn btn-link border-0" })
                            }
                        }
                    </li>*@
                    <li class="nav-item">
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Create an Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="container">
        <div class="main_info">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
