@model List<OtterProductions_CapstoneProject.Models.Event>

@{
    ViewData["Title"] = "Events";
}

<link href="~/css/events.css" rel="stylesheet" />
@*<a class="nav-link" asp-area="" asp-controller="Organization" asp-action="CreateEvent" role="tab" aria-controls="profile" aria-selected="false">Add New Event</a>*@
<h1>Organizations Profile Page</h1>
<a class="search-button btn btn-primary dark-background" asp-area="" asp-controller="Organization" asp-action="CreateEvent" role="tab" aria-controls="profile" aria-selected="false">Add New Event</a>


@if (Model != null)
{
    <div class="container">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Event Type</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.EventName</td>
                        <td>@item.EventLocation</td>
                        <td>@item.EventDescription</td>
                        <td>@item.Organization.EventType1</td>
                        <td>@item.EventDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h1>Event Not available..</h1>
}




