@model List<OtterProductions_CapstoneProject.Models.Event>

@{
    ViewData["Title"] = "Events";
    var eventTypes = (List<EventType>)ViewBag.EventType;
}

<link href="~/css/events.css" rel="stylesheet" />
<link href="~/css/profile.css" rel="stylesheet" />
<h1>Organization Events</h1>

<div class="container">
    <div class="event-actions">
        <a class="search-button btn btn-sm btn-primary dark-background" asp-area="" asp-controller="Organization" asp-action="CreateEvent" role="tab" aria-controls="profile" aria-selected="false">Add New Event</a>
    </div>
</div>

<div>
    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Event Type</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var eventType = eventTypes.FirstOrDefault(x => x.Id == item.EventTypeId);
                    var evetTypeName = eventType != null ? eventType.EventType1 : "";

                    <tr>
                        <td>@item.EventName</td>
                        <td>@item.EventLocation</td>
                        <td>@item.EventDescription</td>
                        <td>@evetTypeName</td>
                        <td>@item.EventDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>No events available.</h3>
    }
</div>
``
