@model OtterProductions_CapstoneProject.Models.Organization

@{
    ViewData["Title"] = "OrganizationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead
{
    <script type="module" src="/js/sharedMap.js"></script>


}



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/css/profile.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<body style="background-color: #15202b">
    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img decoding="async" src=@("~/"+Model.OrganizationPicture) asp-append-version="true"  alt="" />
                        <div style="color: white;" class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h6 style="color: white;">
                            @Model.OrganizationName
                        </h6>
                        <h6 style="color: white;">
                            @Model.OrganizationLocation
                        </h6>
                   
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                @*<a style="color: white;" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>*@
                                <a class="search-button btn btn-primary dark-background" asp-area="" asp-controller="Organization" asp-action="OrganizationDetails" role="tab" aria-controls="profile" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                              @*  <a style="color: white;" class="text-white" asp-area="" asp-controller="Organization" asp-action="Events" role="tab" aria-controls="profile" aria-selected="false">Events</a>*@
                                <a class="search-button btn btn-primary dark-background" asp-area="" asp-controller="Organization" asp-action="Events" role="tab" aria-controls="profile" aria-selected="false">Events</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                  
             @*       <text style="" class="search-button btn btn-primary dark-background">@Html.ActionLink("Edit Profile", "EditOrganization", "Organization", new { ids = User.Identity.Name }, new { @title = "View Profile" }) </text>
                    <a class="search-button btn btn-primary dark-background" asp-area="" asp-controller="Organization" asp-action="EditOrganization" role="tab" aria-controls="profile" aria-selected="false">Edit Profile</a>*@
                    <a class="search-button btn btn-primary dark-background" href="@Url.Action("EditOrganization", "Organization", new { ids = User.Identity.Name })" title="View Profile">Edit Profile</a>
              
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                    
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                       
                            <div class="row">
                                <div class="col-md-6">
                                    <label style="color: white;">Name </label>
                                </div>
                                <div style="color: white;" class="col-md-6">
                                    <p>@Model.OrganizationName</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label style="color: white;">Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p style="color: white;">@Model.Email</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label style="color: white;">Description </label>
                                </div>
                                <div class="col-md-6">
                                    <p style="color: white;">@Model.OrganizationDescription</p>
                                </div>
                            </div>
                       
                            <div class="row">
                                <div class="col-md-6">
                                    <label style="color: white;">Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p style="color: white;">@Model.PhoneNumber</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label style="color: white;">Location</label>
                                </div>
                                <div class="col-md-6">
                                    <p style="color: white;" id="eventLocation" value="@Model.OrganizationLocation" onclick="unhideMap()">@Model.OrganizationLocation</p>
                                </div>
                            </div>
                            <div id="sharedMap" style="display: none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>   
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfIlowOJLOtRJduvUraHSk8WOJjUkB3Eo&callback=initMap&libraries=places&v=weekly"
        defer></script>
<script src="~/js/sharedMap.js" asp-append-version="true"></script> 